  
  <body class="p-3 mb-2 bg-black text-white" ></body>
      <header>
              <img  class="encabezado" src="../imagen/fremtegm.jpg" alt="frente local">
            </header>
              <nav>
                <div class="padre-flex">
                <a href="/"><button type="button"class="btn btn-primary btn-lg">Inicio </button></a>
                <a href="/parlantes"><button type="button" class="btn btn-primary btn-lg">parlantes</button></a>
                <a href="/subwofers"><button type="button" class="btn btn-primary btn-lg">subwofers</button></a>
                <a href="/alarmas"><button type="button" class="btn btn-primary btn-lg">Alarmas</button></a>
                <a href="/accesorios"><button type="button" class="btn btn-primary btn-lg">Accesorios</button></a>
                <a href="/estereos"><button type="button" class="btn btn-primary btn-lg">estereos</button></a>
                <a href="/amplificadores"><button type="button" class="btn btn-primary btn-lg">amplificadores</button></a>
                <a href="/contacto"><button type="button" class="btn btn-primary btn-lg">Contacto</button></a>
              </div>
             </nav>
      <h1 class="titulo">Tu vehiculo en buenas manos </h1>     
                        <p class="titulo5">
                          Somos una empresa con mas de 20 años de experiencia en el rubro automotriz desempeñandonos en
                          instalaciones, modificaciones y desarrollo de sistema de audio y alarmas para vehiculos.
                        </p>
                        <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">Ingrese su email</label>
                          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                          <label for="exampleFormControlTextarea1" class="form-label">Envianos tu consulta</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="padre-flex">
                 <div class="map-responsive" >     
                    <iframe src="https://www.google.com/maps/d/embed?mid=1Qp48jN7bhDFERvywkJBkWbsa2RA&hl=es&ehbc=2E312F" title="gm performance zarate" width="600px" height="450px" style="border:0;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" aria-hidden="false" tabindex="0" allowfullscreen></iframe>
                 </div>

                    <ul class="datos">
                      <li>Telefonos: +54-9-03487-393353 / +54-9-03487-653808   </li>
                      <li>Dirección: ituzaingo 1129 Zarate Buenos Aires</li>
                      <li>Codigo postal: 2800</li>
                    </ul>
                 </div>
                </div>
                  <footer>
                          <div class="whatsapp"></div>
                                <a href="https://wa.me/message/JTPOEE7NKLP6J1"target="_blanck"><img class="boton-redes" src="../imagen/botones/was5.png"
                                  alt="whatsapp">
                                </a>
                                <a href="https://www.instagram.com/gmperformancezarate/"target="_blanck"><img class="boton-insta" src="../imagen/botones/insta12.png"
                                  alt="instagram">
                                </a>
                                <div>
                                <img class="img-tarjetas" src="../imagen/botones/amex@2x.png" alt="american">
                                <img class="img-tarjetas" src="../imagen/botones/banelco@2x.png" alt="banelco">
                                <img class="img-tarjetas" src="../imagen/botones/cabal@2x.png" alt="cabal">
                                <img class="img-tarjetas" src="../imagen/botones/mastercard@2x.png" alt="master">
                                <img class="img-tarjetas" src="../imagen/botones/mercadopago@2x.png" alt="mercadopago">
                                <img class="img-tarjetas" src="../imagen/botones/visa@2x.png" alt="visa">
                              </div>
                          </div>
                  </footer>

     </body>    
 
</html>