<header class="header" >
<input  class="alert alert-info"  id="chatbox" type="text" placeholder="Ingrese el mensaje"/>

<div class="card-text" id="messageLogs"></div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>

       <img class="encabezado"  src="./imagen/logos/fotoheaderconlogo1.png" alt="publicidad gm performance">
      </header>


<div> <nav>
          <div class="padre-flex">
          <a href="/"><button type="button"class="btn btn-primary btn-lg">Inicio  </button></a>
          <a href="/parlantes"><button type="button" class="btn btn-primary btn-lg">parlantes</button></a>
          <a href="/subwofers"><button type="button" class="btn btn-primary btn-lg">subwofers</button></a>
          <a href="/alarmas"><button type="button" class="btn btn-primary btn-lg">Alarmas</button></a>
          <a href="/accesorios"><button type="button" class="btn btn-primary btn-lg">Accesorios</button></a>
          <a href="/estereos"><button type="button" class="btn btn-primary btn-lg">estereos</button></a>
          <a href="/amplificadores"><button type="button" class="btn btn-primary btn-lg">amplificadores</button></a>
          <a href="/contacto"><button type="button" class="btn btn-primary btn-lg">Contacto</button></a>
           <a href="/cart"><button type="button"class="btn btn-primary btn-lg">Carrito de compras  </button></a>
          <body class= "p-3 mb-2 bg-black text-white"></body>
<h2 class="div_h2">  </h2>
              </div> 
            <div >           
            </div>
            <h2 class="div_h2"> En gm performance nos destacamos por la calidad de nuestros productos y trabajos </h2>
          <div class="card mb-4" style="max-width:100%;">
            <div class="row g-0 col-0 bg-black">
              <div class="col-md-4">
                <img class="imageni2" src= "./imagen/estereos multimedia/estereohilux.jpg" class="img-fluid rounded-start bg-black" alt="multimedia hilux"> 
              </div>
              <div class="col-md-8">
                <div class="card-body bg-black">
                  <h5 class="card-title">Especificaciones</h5>
                  <p class="card-text">
                      • Sistema Operativo Android 9.1
                      • Pantalla táctil 2.5D de vidrio templado y resolución 1024x600
                      • El sistema enciende en escasos segundos
                      • Antena GPS para navegar Online y Offline (IGO, HERE, GOOGLE MAPS, etc.)
                      • Procesador QUAD-CORE, 1GB de RAM y 16GB de ROM
                      • MIRRORLINK / PHONELINK (espejo pantalla)
                      • microfono incorporado
                      • antena gps satelital
                      • Radio FM/AM
                      • Compatibilidad con comando al volante / satelital. Excepto comando de voz
                      • Reproductor de AUDIO y VÍDEO, sonido 4x45w
                      • Bluetooth compatible con Android y IPhone
                      • Compatibilidad con comando al volante / satelital. Excepto comando de voz
                      • Reproductor de AUDIO y VÍDEO, sonido 4x45w
                      • PlayStore para descarga de aplicaciones (Spotify, Youtube, etc.)
                      • Compatible con conexión WIFI
                  </p>
                  <p class="card-text"><small class="text-muted">consultar modelos</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-4" style="max-width:300%;">
            <div class="row g-0 bg-black">
              <div class="col-md-4">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Nkzi6BOlUog" title="positron px 360bt" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" class="link-fluid rounded-start bg-black"  allowfullscreen></iframe> <frameborder="0"></iframe>
              </div>    
              <div class="col-md-8">
                <div class="card-body bg-black">
                  <h5 class="card-title">Especificaciones</h5>
                  <p class="card-text">
                      •Posibilidad para poder comandar el arranque a distancia desde la aplicación.
                      •Permite vincular la alarma con su Smartphone y comandar las funciones desde el celular.
                      •Controles remoto con tecnología Flex Code 3 anticlonaje.
                      •Nuevos controles remoto, con nueva tecnología, mejoras en el consumo de la batería.
                      •Auto lock: Traba y destraba del cierre eléctrico a través del accionamiento del contacto.
                      •Encendido automático de luces bajas y de posición al encender el vehículo.
                      •Sirena SI700: Más potente, de tamaño reducido.
                      •Control remoto DPN74 de presencia.
                      •Control remoto PXN74.
                      •Modo asalto por presencia.
                      •Control de sonido: Permite apagar/encender el equipo de sonido.
                      •Salida Auxiliar para apertura: Permite la apertura del baúl desde el control remoto.
                      •Se reactiva de manera automática en caso que haya ocurrido una desactivación accidental.
                      •Sensores volumétricos de alta tecnología detectan los movimientos en el habitáculo.
                    </p>
                  <p class="card-text"><small class="text-muted">consulta por tu vehiculo</small></p>
                </div>
              </div>
            </div>
          </div>
            
        <footer class="text-bg-secondary p-3">
            <div class="whatsapp"></div>
              <a href="https://wa.me/message/JTPOEE7NKLP6J1"target="_blanck"><img class="boton-redes" src="./imagen/botones/was5.png"
                alt="whatsapp">
              </a>
              <div>
                <img class="img-tarjetas" src="./imagen/botones/amex@2x.png" alt="american">
                <img class="img-tarjetas" src="./imagen/botones/banelco@2x.png" alt="banelco">
                <img class="img-tarjetas" src="./imagen/botones/cabal@2x.png" alt="cabal">
                <img class="img-tarjetas" src="./imagen/botones/mastercard@2x.png" alt="master">
                <img class="img-tarjetas" src="./imagen/botones/mercadopago@2x.png" alt="mercadopago">
                <img class="img-tarjetas" src="./imagen/botones/visa@2x.png" alt="visa">
              </div>        
            </div>
          </footer> 
    </body>    
  </html>