<h1>Cambiar tu Contraseña</h1>
<a href="/"><button type="button"class="btn btn-primary btn-lg">Inicio </button></a>

<form method="post" action="/api/sessions/reset-password?token={{token}}">
    <input type="password" placeholder="Nueva contraseña" name="newPassword"/>
    <button>Restablecer contraseña</button>
</form>